.navbar-content {
  margin-right: 20px;
}
.navserachbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.dot-container {
  position: absolute;
  top: 13px;
  right: 9px;
  z-index: 1;
}

.nbreofItems {
  color: white;
  font-weight: bold;
  font-size: 10px;
  position: absolute;
  top: 26%;
  right: 29%;
}
